<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" value="F:\WORKING2\coquan\2021_DuanJICA\XuLyDuLieu\Data\log" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="SourceJICA" value="F:\WORKING2\coquan\2021_DuanJICA\XuLyDuLieu\Data\data" />
    <add key="ConfigFile" value="F:\WORKING2\coquan\2021_DuanJICA\XuLyDuLieu\Data\config.json" />
    <add key="rainToTal10mFolder" value="F:\WORKING2\coquan\2021_DuanJICA\XuLyDuLieu\Data\total10m" />
    <add key="rainToTal1hFolder" value="F:\WORKING2\coquan\2021_DuanJICA\XuLyDuLieu\Data\total1h" />
    <!--<add key="SourceDongBac" value="\\192.168.1.31\aws2\RainDongBac"/>
		<add key="SourceBTB" value="\\192.168.1.31\aws2\RainBTBo"/>
		<add key="SourceVB" value="\\192.168.1.31\aws2\RainVietBac"/>
		<add key="SourceTB" value="\\192.168.1.31\aws2\RainTayBac"/>
		<add key="SourceDongBang" value="\\192.168.1.31\aws2\RainDongBang"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MobileAppEntities" connectionString="metadata=res://*/NewsModal.csdl|res://*/NewsModal.ssdl|res://*/NewsModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.32;initial catalog=MobileApp;persist security info=True;user id=sa;password=davn@@!^QAZ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>